---
import Layout from "../layouts/Layout.astro";
---

<Layout 
title=""
description="">
    <section class="w-full px-4 md:px-0">
        <div class="flex flex-col justify-center items-center">
            <h1 class="text-9xl font-extrabold font-SavoryCurry text-black">404</h1>
            <span class="font-semibold mb-4 text-black">PAGE NOT FOUND :(</span>
            <p class="text-md font-HeyComic font-semibold text-blackBean text-center">Parece que la página que buscas no existe, vuelve al <a href="/" class="text-royalBlue hover:underline underline-offset-2">inicio</a> para seguir navegando</p>
        </div>
    </section>
</Layout>