---
import Layout from '../layouts/Layout.astro';
import ContactForm from '../components/ContactForm.astro';
import LinkedIn from '../components/icons/LinkedIn.astro';
import GitHub from '../components/icons/GitHub.astro';
import Instagram from '../components/icons/Instagram.astro';
import Mail from '../components/icons/Mail.astro';
import Arrow from '../components/icons/Arrow.astro';

---

<Layout 
title='Contacto'
description='¡Contacta a Brandon Laballos para empezar a trabajar y hacer realidad tu idea!'>

<section class="w-full my-24 md:my-36 px-4 md:px-0">
    <article class="w-full md:max-w-6xl flex flex-col md:flex-row justify-between items-start mx-auto bg-white px-4 md:px-12 py-16 shadow-xl rounded-3xl space-x-0 space-y-6 md:space-x-6 md:space-y-0">
        <div class="w-full md:w-1/2 flex flex-col space-y-6 md:space-y-12">
            <div class="max-w-xl space-y-2">
                <span class="text-xl text-blackBean font-bold">/contacto</span>
                <h3 class="text-5xl text-blackBean font-extrabold font-SavoryCurry">¡Manos a la obra!</h3>
            </div>
            <div class="max-w-xs">
                <p class="text-md font-HeyComic font-bold text-blackBean text-pretty">Escríbeme, comparte tu idea y construyamos algo increíble.</p>
            </div>
            <div class="w-full md:max-w-sm">
                <a href="mailto:laballosbrandon@gmail.com" >
                    <div class="w-full flex justify-between items-center px-4 py-2 border-none bg-royalBlue rounded-2xl rounded-tl-lg rounded-br-lg text-white group">
                        <span class="flex items-center text-lg font-semibold gap-x-2"><Mail />laballosbrandon@gmail.com</span>
                        <Arrow class="-rotate-45 group-hover:rotate-0 transition duration-300"/>
                    </div>
                </a>
            </div>
        </div>
        <div class="w-full md:w-1/2 space-y-6">
            <ContactForm />
            <div class="max-w-sm mx-auto">
                <div class="flex flex-col justify-center items-center space-y-4">
                    <ul class="flex gap-x-4">
                        <li><a href="https://www.linkedin.com/in/brandonlaballos/" target="_blank" rel="noopener noreferrer"><LinkedIn class="size-8 text-marianBlue"/></a></li>
                        <li><a href="https://www.github.com/blaballos" target="_blank" rel="noopener noreferrer"><GitHub class="size-8 text-marianBlue"/></a></li>
                        <li><a href="https://www.instagram.com/blaballos/" target="_blank" rel="noopener noreferrer"><Instagram class="size-8 text-marianBlue"/></a></li>
                    </ul>
            </div>
            </div>
        </div>
    </article>
</section>
</Layout>