---
// COMPONENTS
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
import Badge from '../components/Badge.astro';
import SocialBadges from '../components/SocialBadges.astro';
import ProjectCard from '../components/ProjectCard.astro';
import Skills from '../components/Skills.astro';
import Aboutme from '../components/Aboutme.astro';

// ICONS
import LinkedInIcon from '../components/icons/LinkedInIcon.astro';
import MailIcon from '../components/icons/MailIcon.astro';
import CodeIcon from '../components/icons/CodeIcon.astro';
import ToolIcon from '../components/icons/ToolIcon.astro';
import AboutMeIcon from '../components/icons/AboutMeIcon.astro';
---

<Layout title="Portfolio Brandon Laballos - Junior Developer de Argentina">
	<main class="p-6 lg:p-0">
		<Section class="py-52">
			<div class="flex flex-row justify-start items-center space-x-4 pb-4">
				<div class="rounded-full shadow-md">
					<img class="size-16 rounded-full" src="/images/avatar-brandon-laballos.webp" alt="Brandon Laballos">
				</div>
				<a
				href="https://linkedin.com/in/brandonlaballos"
				target="_blank"
				rel="noopener noreferrer" 
				class="flex items-center">
					<Badge>Disponible para Trabajar</Badge>
				</a>
			</div>
			<h1 class="flex flex-row text-4xl lg:text-5xl text-white font-bold gap-x-4 pb-4">
				Brandon Laballos
			</h1>
			<h2 class="text-xl text-wrap font-semibold pb-4">
				<span class="opacity-80">Junior Developer de Buenos Aires, Argentina. Estudiante de</span>
				<span class="text-yellow-200">Ingeniería en Sistemas de Información</span>
				<span class="opacity-80">en la UTN, con interés en crear soluciones.</span>
			</h2>
			<nav class="flex flex-row gap-x-4">
				<SocialBadges href="mailto:laballosbrandon@gmail.com">
					<MailIcon />
					Contáctame
				</SocialBadges>
				<SocialBadges href="https://linkedin.com/in/brandonlaballos">
					<LinkedInIcon />
					LinkedIn
				</SocialBadges>
			</nav>
		</Section>

		<Section class="pb-20">
			<h2 id="proyectos" class="flex items-center gap-x-2 text-3xl font-semibold pb-6">
				<CodeIcon class="size-8" />
				Proyectos
			</h2>
			<ProjectCard />
		</Section>

		<Section class="pb-20">
			<h2 id="skills" class="flex items-center gap-x-2 text-3xl font-semibold pb-6">
				<ToolIcon class="size-8" />
				Skills
			</h2>
			<Skills />
		</Section>

		<Section class="pb-20">
			<h2 id="sobre-mi" class="flex items-center gap-x-2 text-3xl font-semibold pb-6">
				<AboutMeIcon class="size-8" />
				Sobre mí
			</h2>
			<Aboutme />
		</Section>
	</main>
</Layout>
