---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';


import Card from '../components/Card.astro';
import LinkedInIcon from '../components/icons/LinkedInIcon.astro';
import HackerRankIcon from '../components/icons/HackerRankIcon.astro';
import GitHubIcon from '../components/icons/GitHubIcon.astro';
import SocialBadges from '../components/SocialBadges.astro';
---

<Layout title="Portfolio Brandon Laballos.">
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-44">
			<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4">
				Brandon Laballos 
				<a
				href="https://linkedin.com/in/brandonlaballos"
				target="_blank"
				rel="noopener" 
				class="flex justify-center items-center">
					<Badge>Disponible para Trabajar</Badge>
				</a>
			</h1>
			<h2 class="text-2xl font-semibold">
				<span class="opacity-80">Junior Developer de Argentina. Actualmente estudiando </span>
				<span class="text-yellow-200">Ingeniería en Sistemas de Información</span>
				<span class="opacity-80">en la UTN. En la permanente búsqueda de crear soluciones.</span>
			</h2>
				<ul class="flex flex-row gap-x-2 pt-4">
					<li>
						<SocialBadges href="https://linkedin.com/in/brandonlaballos">
							<LinkedInIcon />
							LinkedIn
						</SocialBadges>
					</li>
					<li>
						<SocialBadges href="https://hackerrank.com/blaballos">
							<HackerRankIcon />
							HackerRank
						</SocialBadges>
					</li>
					<li>
						<SocialBadges href="https://github.com/blaballos">
							<GitHubIcon />
							GitHub
						</SocialBadges>
					</li>
				</ul>
		</section>
	</main>
</Layout>
