---
import Layout from "../layouts/Layout.astro";
import FigmaSVG from "../components/icons/FigmaSVG.astro";
---

<Layout title=""
description="">
    <main class="flex-1 flex flex-col items-center justify-center">
        <h1>SERVICIOS</h1>
        <section class="space-y-6">
            <div class="flex items-center justify-between border-2 border-black p-4">
                <article class="max-w-xl">
                    <h2>DISE칌O WEB</h2>
                    <p>Voy a dise침ar tu futura p치gina web o redise침ar la actual para que refleje la identidad de tu marca y puedas desarrollarla.</p>
                    <p>Me encargar칠 de crear un dise침o profesional, funcional y moderno para mejorar la experiencia de tus clientes.</p>
                </article>
                <aside>
                    <FigmaSVG />
                </aside>
            </div>
            <div class="flex items-center justify-between border-2 border-black p-4">
                <article class="max-w-xl">
                    <h2>DISE칌O WEB</h2>
                    <p>Voy a dise침ar tu futura p치gina web o redise침ar la actual para que refleje la identidad de tu marca y puedas desarrollarla.</p>
                    <p>Me encargar칠 de crear un dise침o profesional, funcional y moderno para mejorar la experiencia de tus clientes.</p>
                </article>
                <aside>
                    <FigmaSVG />
                </aside>
            </div>
        </section>
    </main>
    <footer class="w-full py-4">
        <div class="max-w-7xl mx-auto flex items-center justify-between">
            <span>2025</span>
            <span>Dise침ado y desarrollado con 游눞 por <a href="">blaballos</a></span>
            <span>.........................</span>
        </div>
    </footer>
</Layout>

<style>
    html {
        background-color: #D4C2B2;
    }
</style>