<article class="flex flex-col md:flex-row space-y-8 space-x-0 md:space-y-0 md:space-x-8">
    <div class="max-w-sm lg:max-w-4xl space-y-4 text-sm lg:text-lg text-pretty opacity-80 text-white">
        <p>
            Soy Brandon, tengo 21 años y vivo en Buenos Aires, Argentina. Actualmente estudio <span class="text-yellow-200">Ingeniería en Sistemas de Información</span> en la Universidad Tecnológica Nacional (UTN), donde recientemente aprendí C++ y participé en <span class="text-yellow-200 underline"><a href="https://github.com/blaballos/AED" target="_blank" rel="noopener noreferrer">proyectos</a></span> colaborativos con mis compañeros.
        </p>

        <p>
            Además, he complementado mi formación académica con diversos cursos que me permitieron dar mis primeros pasos como programador. <span class="text-yellow-200">Destaco mi participación en <a class="underline" href="/docs/certificado-argentina-programa.pdf" download="certificado-brandon-laballos.pdf" target="_blank" rel="noopener noreferrer">Argentina Programa 4.0</a></span>, donde trabajé en equipo en la creación de distintos sitios webs.
        </p>

        <p>
            Mi objetivo es seguir creciendo como desarrollador, <span class="text-yellow-200">explorando nuevas tecnologías y participando en proyectos desafiantes</span> que impulsen mi crecimiento personal y profesional.
        </p>
    </div>
    <div class="flex flex-col justify-center items-center space-y-4">
        <img class="rounded-2xl max-w-sm lg:max-w-xl md:w-full h-72 md:rotate-2 p-2 border border-gray-800" src="/images/foto-brandon-laballos.webp" alt="Foto de Brandon Laballos">

    </div>
</article>