---
import GitHub from "./icons/GitHub.astro"
import LinkedIn from "./icons/LinkedIn.astro"
---

<div class="w-full border-2 border-black rounded-xl rounded-tl-sm rounded-br-sm p-1">
    <div class="flex justify-between items-center bg-[#283A84] rounded-xl rounded-tl-sm rounded-br-sm py-1 px-2">
        <div class="flex justify-start items-center gap-x-2">
            <img src="https://github.com/blaballos.png" alt="" class="size-12 rounded-full">
            <div class="flex flex-col justify-center items-start">
                <span class="text-white text-sm font-bold">Brandon Laballos</span>
                <span class="text-white/80 text-xs font-semibold">Front End Developer</span>
            </div>
        </div>
        <div class="flex justify-end items-cend gap-x-2 text-yellow-500">
            <a href="https://www.linkedin.com/in/brandonlaballos/" target="_blank" rel="noopener noreferrer" class="hover:text-yellow-500/80 transition duration-300"><GitHub /></a>
            <a href="https://github.com/blaballos" target="_blank" rel="noopener noreferrer" class="hover:text-yellow-500/80 transition duration-300"><LinkedIn /></a>
        </div>
    </div>
</div>