---
import GitHub from "./icons/GitHub.astro"
import LinkedIn from "./icons/LinkedIn.astro"
---

<div class="w-full border-2 border-NIGHT">
    <div class="flex justify-between items-center py-1 px-2 bg-EERIEBLACK">
        <div class="flex justify-start items-center gap-x-2">
            <img src="https://github.com/blaballos.png" alt="" class="size-10 lg:size-12 rounded-full">
            <div class="flex flex-col justify-center items-start">
                <span class="text-WHITE text-xs lg:text-sm font-ExconBold">Brandon Laballos</span>
                <span class="text-WHITE/80 text-xs font-ExconBold">Front End Developer</span>
            </div>
        </div>
        <div class="flex justify-end items-cend gap-x-2 text-SUNGLOW">
            <a href="https://www.linkedin.com/in/brandonlaballos/" target="_blank" rel="noopener noreferrer" aria-label="Go to LinkedIn profile" class="hover:text-SUNGLOW/80 transition duration-300"><GitHub class="size-5 lg:size-6"/></a>
            <a href="https://github.com/blaballos" target="_blank" rel="noopener noreferrer" aria-label="Go to GitHub profile" class="hover:text-SUNGLOW/80 transition duration-300"><LinkedIn class="size-5 lg:size-6"/></a>
        </div>
    </div>
</div>