---
import GitHubIcon from "./icons/GitHubIcon.astro";

const { href } = Astro.props;
---

<a  target="_blank" href={href} rel="noopener noreferrer" class="inline-flex items-center justify-center gap-x-1 md:gap-x-2 px-3 py-2 text-sm md:text-md font-medium text-gray-100 bg-gray-950 border border-gray-100 hover:bg-blue-100/30 rounded-2xl transition duration-300">
    <GitHubIcon class="size-5 lg:size-6" /> Code
</a>