---
import Send from "./icons/Send.astro"
---

<form class="max-w-sm mx-auto space-y-6">
    <div class="flex flex-col gap-y-2">
        <label for="name" class="text-md font-HeyComic font-bold text-[#283A84]">nombre:</label>
        <input type="text" class="border-2 border-black rounded-md px-2 py-2 text-sm text-blue-500 font-semibold placeholder:text-blue-500" placeholder="...">
    </div>
    <div class="flex flex-col gap-y-2">
        <label for="name" class="text-md font-HeyComic font-bold text-[#283A84]">email:</label>
        <input type="email" class="border-2 border-black rounded-md px-2 py-2 text-sm text-blue-500 font-semibold placeholder:text-blue-500" placeholder="...">
    </div>
    <div class="flex flex-col gap-y-2">
        <label for="" class="text-md font-HeyComic font-bold text-[#283A84]">mensaje:</label>
        <textarea name="" id="" rows="5" class="border-2 border-black rounded-md px-2 py-2 text-sm text-blue-500 font-semibold placeholder:text-blue-500 resize-none" placeholder="..."></textarea>
    </div>
    <div class="flex justify-center items-center">
        <button class="w-full flex justify-center items-center px-4 py-2 border-none bg-blue-500 rounded-2xl rounded-tl-lg rounded-br-lg text-lg text-white font-semibold gap-x-2 group">enviar<span class="group-hover:translate-x-1 transition duration-200"><Send /></span></button>
    </div>
</form>