<form class="w-full md:max-w-sm mx-auto space-y-6 border-4 border-JASPER p-4" action="https://formsubmit.co/4c43286f01416a36e12ca245c6ac791c" method="POST">
    <div class="flex flex-col gap-y-2">
        <label for="name" class="text-md font-ExconVariable text-JASPER">NOMBRE:</label>
        <input name="name" id="name" type="text" class="bg-transparent border-2 border-JASPER focus:border-JASPER focus:outline-none px-2 py-2 text-sm text-JASPER/80 font-ExconBold placeholder:text-JASPER/80" placeholder="¿Cómo te llamas?" required>
    </div>
    <div class="flex flex-col gap-y-2">
        <label for="email" class="text-md font-ExconVariable text-JASPER">EMAIL:</label>
        <input name="email" id="email" type="email" class="bg-transparent border-2 border-JASPER focus:border-JASPER focus:outline-none px-2 py-2 text-sm text-JASPER/80 font-ExconBold placeholder:text-JASPER/80" placeholder="¿Cuál es tu email?" required>
    </div>
    <div class="flex flex-col gap-y-2">
        <label for="message" class="text-md font-ExconVariable text-JASPER">MENSAJE:</label>
        <textarea name="message" id="message" rows="5" class="bg-transparent border-2 border-JASPER focus:border-JASPER focus:outline-none px-2 py-2 text-sm text-JASPER/80 font-ExconBold placeholder:text-JASPER/80 resize-none" placeholder="Escribe tu mensaje aquí" required></textarea>
    </div>
    <div class="flex justify-center items-center">
        <button class="font-LuckiestGuy text-SUNGLOW drop-shadow-[3px_3px_0px_#1D1F1A] text-4xl" type="submit">ENVIAR</button>
    </div>
    <input type="hidden" name="_autoresponse" value="¡Gracias por tu mensaje! me pondré en contacto contigo lo antes posible :)">
    <input type="hidden" name="_template" value="table">
</form>