---
import ContactForm from "./ContactForm.astro"
import LinkedIn from "./icons/LinkedIn.astro"
import GitHub from "./icons/GitHub.astro"
---

<section id="contacto" class="w-full px-4 lg:px-0">
    <article class="w-full md:max-w-6xl flex flex-col md:flex-row justify-between items-start mx-auto bg-white px-4 md:px-12 py-16 shadow-xl rounded-3xl space-x-0 space-y-6 md:space-x-6 md:space-y-0">
        <div class="w-full md:w-1/2 flex flex-col space-y-6 md:space-y-12">
            <div class="max-w-xl space-y-2">
                <span class="text-xl text-blackBean font-bold">/contacto</span>
                <h2 class="text-4xl md:text-5xl text-blackBean font-extrabold font-SavoryCurry">Hora de trabajar.</h2>
            </div>
            <div class="max-w-xs">
                <p class="text-md font-HeyComic font-bold text-blackBean text-pretty">Déjame un mensaje y empecemos a trabajar juntos :)</p>
            </div>
        </div>
        <div class="w-full md:w-1/2 space-y-6">
            <ContactForm />
            <div class="max-w-sm mx-auto">
                <div class="flex justify-center items-center space-y-4">
                    <ul class="flex gap-x-4">
                        <li><a href="https://www.linkedin.com/in/brandonlaballos/" target="_blank" rel="noopener noreferrer" aria-label="Go to LinkedIn profile"><LinkedIn class="size-8 text-marianBlue"/></a></li>
                        <li><a href="https://www.github.com/blaballos" target="_blank" rel="noopener noreferrer" aria-label="Go to GitHub profile"><GitHub class="size-8 text-marianBlue"/></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </article>
</section>