---
import LinkedIn from "./icons/LinkedIn.astro"
import GitHub from "./icons/GitHub.astro"

const { footerBgColor, footerTextColor} = Astro.props;
---

<footer class={`w-full py-6 px-4 ${footerBgColor || 'bg-JASPER'} rounded-t-3xl`}>
    <div class="max-w-7xl mx-auto flex flex-col items-center">
        <nav class="w-full flex flex-col md:flex-row items-center justify-between space-y-6 mb-8">
            <ul class={`flex font-ExconVariable text-sm md:text-lg ${footerTextColor || 'text-DUN'} gap-x-6`}>
                <a href="/">INICIO</a>
                <a href="/services">SERVICIOS</a>
                <a href="/projects">PROYECTOS</a>
                <a href="/contact">CONTACTO</a>
            </ul>
            <div class="flex items-center gap-6 font-ImFellFrench text-EERIEBLACK">
                <a href="https://www.linkedin.com/in/brandonlaballos/" target="_blank" rel="noopener noreferrer" aria-label="Go to LinkedIn profile"><LinkedIn class="size-6 md:size-8" /></a>
                <a href="https://www.github.com/blaballos" target="_blank" rel="noopener noreferrer" aria-label="Go to LinkedIn profile"><GitHub class="size-6 md:size-8"/></a>
            </div>
        </nav>
        <div class="flex justify-center">
            <span class={`font-ImFellFrench text-xs md:text-sm ${footerTextColor || 'text-DUN text-center'}`}>Diseñado y desarrollado con 💜 por <a class="hover:underline" href="https://www.github.com/blaballos" target="_blank" rel="noopener noreferrer" aria-label="Go to GitHub profile">blaballos</a>. Casi todos los derechos reservados :)</span>
        </div>
    </div>
</footer>