<header class="fixed top-0 z-50 flex items-center justify-center w-full mx-auto py-1 bg-white">
    <div class="absolute inset-0 -z-10 h-full w-full bg-white bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px]"></div>
    <nav class="w-full flex gap-x-8 text-md text-[#260702] font-bold font-HeyComic justify-center items-center border-b-2 border-[#260702] py-6">
        <a class="relative hover:-translate-y-1 transition duration-200" href="/#servicios">servicios</a>
        <a class="relative hover:-translate-y-1 transition duration-200" href="/projects/">proyectos</a>
        <a class="relative hover:-translate-y-1 transition duration-200" href="/contact/">contacto</a>
    </nav>
</header>