<header class="fixed top-0 z-50 flex items-center justify-center w-full mx-auto py-1 bg-white">
    <div class="absolute inset-0 -z-10 h-full w-full bg-white bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px]"></div>
    <nav class="w-full flex gap-x-8 text-sm font-semibold text-[#260702] justify-center items-center font-HeyComic border-b-2 border-[#260702] py-6">
        <a class="relative hover:-translate-y-2 transition duration-200" href="#proyectos">servicios</a>
        <a class="relative hover:-translate-y-2 transition duration-200" href="#sobre-mi">proyectos</a>
        <a class="relative hover:-translate-y-2 transition duration-200" href="#skills">sobre mí</a>
        <a class="relative hover:-translate-y-2 transition duration-200" href="https://linkedin.com/in/brandonlaballos" target="_blank" rel="noopener noreferrer">contacto</a>
    </nav>
</header>