<header class="fixed top-0 z-50 flex items-center justify-center w-full mx-auto py-1 bg-white">
    <div class="absolute inset-0 -z-10 h-full w-full bg-white bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px]"></div>
    <div class="absolute z-50 top-2 left-8 bg-transparent">
        <a href="/">
            <img src="/images/LOGO.png" alt="" class="hidden md:flex size-1/2 drop-shadow-2xl hover:-translate-y-1 transition duration-200">
        </a>
    </div>
    <nav class="w-full flex gap-x-8 text-md text-blackBean font-bold font-HeyComic justify-center items-center border-b-2 border-blackBean py-6">
        <a class="relative hover:-translate-y-1 transition duration-200" href="/#servicios">servicios</a>
        <a class="relative hover:-translate-y-1 transition duration-200" href="/projects/">proyectos</a>
        <a class="relative hover:-translate-y-1 transition duration-200" href="/contact/">contacto</a>
    </nav>
</header>