<header class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2">
    <nav class="flex px-3 gap-x-4 text-sm font-medium rounded-full bg-blue-950/50 text-white justify-center items-center">
        <a class="relative px-2 py-2 transition hover:text-blue-400" href="#proyectos">Proyectos</a>
        <a class="relative px-2 py-2 transition hover:text-blue-400" href="#sobre-mi">Sobre mí</a>
        <a class="relative px-2 py-2 transition hover:text-blue-400" href="#skills">Skills</a>
        <a class="relative px-2 py-2 transition hover:text-blue-400" href="https://linkedin.com/in/brandonlaballos" target="_blank" rel="noopener noreferrer">Contacto</a>
    </nav>
</header>