<section class="w-full bg-[#FFB82C] py-24 lg:py-36 flex flex-col md:flex-row justify-center items-center space-y-8 md:space-y-0 md:space-x-8 rounded-b-3xl shadow-xl">
    <div class="flex flex-col justify-center items-center text-center relative">
        <span class="text-sm font-extrabold text-[#260702]">
            Front End Developer de Buenos Aires, Argentina.
        </span>
        
        <div class="max-w-sm flex flex-col items-center space-y-6 relative">
            <div class="relative">
                <h1 class="text-9xl font-extrabold font-SavoryCurry text-[#FEFCE0] drop-shadow-[6px_6px_0px_#260702]">
                    ¡Brandon
                </h1>
                <h1 class="text-9xl font-extrabold font-SavoryCurry text-[#FEFCE0] drop-shadow-[6px_6px_0px_#260702]">
                    Laballos!
                </h1>
            </div>
        </div>

        <p class="max-w-lg text-sm font-semibold text-[#260702] font-HeyComic">
            Esta es mi página web, donde te presento mis proyectos y un poco más sobre mí 
            <span class="text-[#FEFCE0]">¡espero que te guste!</span>
        </p>
    </div>
</section>
