---
import ServicesCard from "./ServicesCard.astro"
---

<section class="w-full py-36">
    <article class="max-w-6xl flex justify-between items-start mx-auto bg-white px-12 py-16 shadow-xl rounded-3xl">
        <div class="flex flex-col space-y-12 w-1/2">
            <div class="max-w-xl space-y-2">
                <span class="text-xl text-[#260702] font-bold">/servicios</span>
                <h3 class="text-5xl text-[#260702] font-extrabold font-SavoryCurry">Tienes una idea? <span class="ml-14">hazla</span> <span class="border-b-4 border-[#FFB82C]">realidad</span>.</h3>
            </div>
            <div class="max-w-lg space-y-6">
                <p class="text-xl font-HeyComic font-semibold text-[#260702] text-pretty">Me especializo en convertir ideas en experiencias digitales únicas.</p>
                <p class="text-xl font-HeyComic font-semibold text-[#260702] text-pretty">Te ofrezco soluciones sólidas, totalmente personalizadas y enfocadas en <span class="text-[#4565E5]">potenciar</span> tu proyecto.</p>
            </div>
        </div>
        <div class="w-1/2">
            <ServicesCard />
        </div>
    </article>
</section>