---
import CIcon from "./icons/C++Icon.astro";
import PythonIcon from "./icons/PythonIcon.astro";
import HTMLIcon from "./icons/HTMLIcon.astro";
import CSSIcon from "./icons/CSSIcon.astro";
import AstroIcon from "./icons/AstroIcon.astro";
import TailwindCSSIcon from "./icons/TailwindCSSIcon.astro";

const ICONS = {
    PYTHON: {
        svg: PythonIcon,
    },
    C: {
        svg: CIcon,
    },
    HTML: {
        svg: HTMLIcon,
    },
    TAILWINDCSS: {
        svg: TailwindCSSIcon,
    },
    CSS: {
        svg: CSSIcon,
    },
    ASTRO: {
        svg: AstroIcon,
    },
}

const SKILLS = [
    {
        icons: [ICONS.PYTHON],
    },
    {
        icons: [ICONS.C],
    },
    {
        icons: [ICONS.ASTRO],
    },
    {
        icons: [ICONS.HTML],
    },
    {
        icons: [ICONS.TAILWINDCSS],
    },
    {
        icons: [ICONS.CSS],
    },
]
---
<ul class="justify-center grid grid-cols-3 grid-rows-2 md:grid-cols-3 gap-x-8 gap-y-6">
    {
        SKILLS.map(({icons}) => (
            <li class="flex flex-col w-full items-center bg-gradient-to-b from-blue-100/30 to-transparent col-span-1 py-6 group hover:from-blue-100/50 transition duration-300">
                {icons.map((icon) => (
                    <icon.svg class="size-14 group-hover:scale-125 transition duration-300"/>
                    ))
                }
            </li>
        ))
    }
</ul>

