<a 
href={Astro.props.href}
target="_blank"
rel="noopener noreferrer"
class="flex justify-center items-center rounded-full border gap-x-1 py-2 px-3 bg-white/5 hover:scale-105 hover:bg-white/20 transition">
    <slot />
</a>