---
import '@fontsource-variable/onest';
import ClientRouter from 'astro/components/ClientRouter.astro';
import NoiseBackground from '../components/NoiseBackground.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
	description: string;
	hideHeader?: boolean;
	hideFooter?: boolean;
}

const { title, description, hideHeader = false, hideFooter = false } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="description" content={description} />
		<title>{title}</title>
	</head>
	<body class="flex flex-col min-h-screen">
		<NoiseBackground />
		{ !hideHeader && <Header /> }
		<ClientRouter />
		<slot />
		{ !hideFooter && <Footer /> }
	</body>
</html>

<style is:global>
	html {
		background-color: #0A0B08;
		font-family: 'Onest Variable', sans-serif;
	}
	
	body {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}

	@font-face {
		font-family: 'LuckiestGuy';
		src: url('/fonts/LuckiestGuy.woff2') format('woff2'),
			 url('/fonts/LuckiestGuy.woff') format('woff');
	}

	@font-face {
		font-family: 'ImFellFrench';
		src: url('/fonts/ImFellFrench.woff2') format('woff2'),
			 url('/fonts/ImFellFrench.woff');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'ExconVariable';
		src: url('/fonts/ExconVariable.woff2') format('woff2'),
			 url('/fonts/ExconVariable.woff') format('woff');
	}

	@font-face {
		font-family: 'ExconBold';
		src: url('/fonts/ExconBold.woff2') format('woff2'),
			 url('/fonts/ExconBold.woff') format('woff');
	}
</style>
